{# --- src/view/admin/AjoutePrestation.twig --- #}

{% extends 'layout.twig' %}


{% block headtitle %}
    <title>Prestations - Admin - Les Jardins de Gaston</title>
{% endblock %}


{% block pagetitle %}
    <h1>Ajout d'une prestation</h1>
{% endblock %}


{% block content %}

    <div class="row">

        {# -- Créer une nouvelle prestation ----------------------------- -- #}

        <div class="col-xs-12 bandeau text-center">
            Ajouter une prestation
        </div>
        <div class="col-xs-12">
            <div class="row contenu">
                <div class="col-xs-12 col-md-4 col-lg-3 col-lg-offset-2 text-center">
                    <p><img class="img-fluid pimg bloc-right" src="{{ tmpimage }}?{{ random(9999) }}" alt="" /></p>
                    <p>
                        <form id="loadimg" method="post" action="index.php?p=prestation" enctype="multipart/form-data">
                            <input type="hidden" name="MAX_FILE_SIZE" value="20000000" />
                            <input type="hidden" name="method" value="imgupload" />
                            <input type="hidden" name="id" value="{{ prestation.id }}">
                            <input type="hidden" name="titre" id="titreimg" value="" />
                            <input type="hidden" name="contenu" id="detailimg" value="" />
                            <input type="hidden" name="ordreaff" value="{{ prestation.ordreaff }}">
                            <input class="cache" type="file" accept=".jpg" name="fichier" id="fichier" onchange="valide();"/>
                            <label for="fichier" class="btn btn-default">Nouvelle image</label><br />
                        </form>
                    </p>
                </div>
                <div class="col-xs-12 col-md-8 col-lg-5">
                    <p class="erreur">{%  if erreur=='' %}&nbsp;{% else %}ERREUR : {{ erreur }}{% endif %}</p>
                    <form method="post" action="index.php?p=prestation">
                        <input type="hidden" name="method" value="addpresta" />
                        <input type="hidden" name="id" value="{{ prestation.id }}">
                        <label for="titre">Titre de la prestation </label><br />
                        <input class="form-control" type="text" name="titre" id="titre" value="{{ prestation.titre }}" /><br />
                        <label for="detail">Détails de la prestation</label><br />
                        <input type="hidden" name="ordreaff" value="{{ prestation.ordreaff }}">
                        <textarea class="form-control" row="3" name="contenu" id="detail">{{ prestation.contenu }}</textarea><br />
                        <input class="btn btn-default" type="submit" name="valide" value="Ajouter la prestation" />
                        <input class="btn btn-default" type="submit" name="annule" value="Annuler l'opération" />
                    </form>
                </div>
            </div>
        </div>

        <script>
            function valide() {
                document.getElementById('titreimg').value = document.getElementById('titre').value;
                document.getElementById('detailimg').value = document.getElementById('detail').value;
                document.getElementById('loadimg').submit();
            }
        </script>

    </div> {# -- fermeture de la row principale -- #}

{% endblock %}




