{% extends 'layout.twig' %}


{% block headtitle %}
    <title>Messages Recus - Admin - Les Jardins de Gaston</title>
{% endblock %}


{% block pagetitle %}
    <h1>Gestion des Messages Recus</h1>
{% endblock %}


{% block content %}


    {#affichage des messages en dynamique selon leur statut#}
    <div class="col-xs-12 text-center">
        <h3>Messages non lus</h3>
    </div>

    <div class="col-xs-12">
        <table>
            <div class="row">
                <tr class="listeArticle">
                    <td class="tdDate text-center">Date</td>
                    <td class="tdAuteur">Auteur</td>
                    <td class="tdMessage">Message</td>
                    <td class="tdTelephone">Téléphone</td>
                    <td class="tdEmail">Email</td>
                    <td class="tdAction text-center" text-center>Action</td>
                </tr>

            </div>
            {% for contact in contacts if contact.statut == 0 %}
                <tr>
                    <td class="tdDate text-center" text-center>{{ contact.date|date('d-m-Y H:m') }}</td>
                    <td class="tdAuteur">{{ contact.nom }} {{ contact.prenom }}</td>
                    <td class="tdMessage">{{ contact.contenu }}</td>
                    <td class="tdTelephone">{{ contact.telephone }}</td>
                    <td class="tdEmail">{{ contact.email }}</td>
                    <td class="tdAction text-center">
                        <form action="contact" method="post">
                            <input type="hidden" name="id" value="{{ contact.id }}">
                            <input class="btn btn-default" name="contactLus" value="Marquer comme lu" type="submit">
                            <input class="btn btn-default" name="contactDelete" value="Supprimer" type="submit">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-xs-12 text-center padd-top">
        <h3>Messages lus</h3>
    </div>

    <div class="col-xs-12">
        <table>
            <tr class="listeArticle">
                <td class="tdDate text-center">Date</td>
                <td class="tdAuteur">Auteur</td>
                <td class="tdMessage">Message</td>
                <td class="tdTelephone">Téléphone</td>
                <td class="tdEmail">Email</td>
                <td class="tdAction text-center">Action</td>
            </tr>
            {% for contact in contacts if contact.statut == 1 %}
                <tr>
                    <td class="tdDate text-center">{{ contact.date|date('d-m-Y H:m') }}</td>
                    <td class="tdAuteur">{{ contact.nom }} {{ contact.prenom }}</td>
                    <td class="tdMessage">{{ contact.contenu }}</td>
                    <td class="tdTelephone">{{ contact.telephone }}</td>
                    <td class="tdEmail">{{ contact.email }}</td>
                    <td class="tdAction text-center">
                        <form action="contact" method="post">
                            <input type="hidden" name="id" value="{{ contact.id }}">
                            <input class="btn btn-default" name="contactArchive" value="Archiver" type="submit">
                            <input class="btn btn-default" name="contactDelete" value="Supprimer" type="submit">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-xs-12 text-center padd-top">
        <h3>Messages archivés</h3>
    </div>

    <div class="col-xs-12">

        <table>
            <tr class="listeArticle">
                <td class="tdDate text-center">Date</td>
                <td class="tdAuteur">Auteur</td>
                <td class="tdMessage">Message</td>
                <td class="tdTelephone">Téléphone</td>
                <td class="tdEmail">Email</td>
                <td class="tdAction text-center">Action</td>
            </tr>

            {% for contact in contacts if contact.statut == 2 %}
                <tr>
                    <td class="tdDate text-center">{{ contact.date|date('d-m-Y H:m') }}</td>
                    <td class="tdAuteur">{{ contact.nom }} {{ contact.prenom }}</td>
                    <td class="tdMessage">{{ contact.contenu }}</td>
                    <td class="tdTelephone">{{ contact.telephone }}</td>
                    <td class="tdEmail">{{ contact.email }}</td>
                    <td class="tdAction text-center">
                        <form action="contact" method="post">
                            <input type="hidden" name="id" value="{{ contact.id }}">
                            <input class="btn btn-default" name="contactDelete" value="Supprimer" type="submit">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}

