{# --- src/view/admin/Prestation.twig --- #}

{% extends 'layout.twig' %}


{% block headtitle %}
    <title>Chez Gaston - Admin - Les Jardins de Gaston</title>
{% endblock %}


{% block pagetitle %}

    <h1>Gestion du journal - Et pendant ce temps-là chez Gaston...</h1>

{% endblock %}


{% block content %}


    {# -- row afficher/masquer l'accès au journal sur le site -- #}

    <div class="row bandeau">
        <div class="col-xs-12">
            <p>Activation des liens vers le journal</p>
        </div>
    </div>
    <div class="row rowAffichageJournal">
        <div class="col-xs-offset-5 col-xs-2">
            <button class="btn btn-success">Afficher le journal de Gaston</button>
        </div>
    </div>

    <div class="row bandeau">
        <div class="col-xs-12">
            <p>Ajout d'un article</p>
        </div>
    </div>

    {% do form.prepare() %}

    {# -- Formulaire ajout d'un nouvel article -- #}
    <div class="row FormBlog">

        <div class="col-xs-offset-1 col-xs-10">

            <form name="ajout-blog" method="POST" action="index.php?p=chezgaston" enctype="multipart/form-data">

                <div class="row">

                    <div class="col-xs-4">

                        <div class="form-group">

                            <input class="cache" type="file" accept="image/jpeg" name="imgArticle" id="imgArticle"  />
                            <label for="imgArticle" class="btn btn-default">Nouvelle image</label><br />

                            {% for message in imgErr %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>

                    </div>

                    <div class="col-xs-8">

                        <div class="form-group">
                            <label for="titre">{{ form.get('titre').label }}</label>
                            <input required ="required" class="form-control" value="{{ form.get('titre').value }}" type="text" id="titre" name="titre" />

                            {% for message in titreErr %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label for="date">{{ form.get('date').label }}</label>
                            <input required ="required" class="form-control" value="{{ form.date|date('Y-m-d H:i:s') }}" type="text" id="date" name="date"/>

                            {% for message in dateErr %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label for="contenu">{{ form.get('contenu').label }}</label>
                            <textarea required ="required" class="form-control" id="contenu" name="contenu">{{ form.get('contenu').value }}</textarea>

                            {% for message in contenuErr %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>

                        <input class="btn btn-success" type="submit" name="ajoutArticle" value="Ajouter un article" />
                        <input type="hidden" name="method" value="ajoutArticle" />
                        <input type="hidden" name="csrf" value="{{ form.get('csrf').value }}">
                    </div>

                </div>

            </form>
        </div>

    </div>



    {# -- Liste des articles ------------------------------------ -- #}
    <div class="row padd-top">
        <div class="col-xs-12">

            <table>
                <div class="row">

                    <tr class="listeArticle">
                        <div class="col-sm-2 col-lg-2"><td>Date de parution</td></div>
                        <div class="col-sm-4 col-lg-2"><td>Titre de l'article</td></div>
                        <div class=".hidden-sm-down col-lg-4"><td>Contenu de l'article</td></div>
                        <div class="col-sm-6 col-lg-4"><td>Modification/Suppression</td></div>
                    </tr>

                </div>

                <div class="row">
                {% for article in articles %}

                    <tr>
                        <td class="col-sm-2 col-lg-2">{{ article.date|date('d-m-Y H:m') }}</td>
                        <td class="col-sm-4 col-lg-2">{{ article.titre }}</td>
                        <td class=".hidden-sm-down col-lg-4">{{ article.contenu }}</td>
                        <td class="col-sm-6 col-lg-4">
                            <form method="post" action="index.php?p=chezgaston">
                                <input type="hidden" name="method" value="modif" />
                                <input type="hidden" name="id" value="{{ article.id }}" />
                                <input class="btn btn-default" type="submit" name="valide" value="Modifier l'article" />
                            </form>
                            <form method="post" action="index.php?p=chezgaston">
                                <input type="hidden" name="method" value="supprime" />
                                <input type="hidden" name="id" value="{{ article.id }}" />
                                <input class="btn btn-default" type="submit" name="supprime" value="Supprimer l'article" />
                            </form>
                        </td>
                    </tr>

                {% endfor %}
                </div>

            </table>

        </div>
    </div>

{% endblock %}





