{# --- src/view/admin/Prestation.twig --- #}

{% extends 'layout.twig' %}


{% block headtitle %}
    <title>Chez Gaston - Admin - Les Jardins de Gaston</title>
{% endblock %}


{% block pagetitle %}

    <h1>Gestion du journal - Et pendant ce temps-là chez Gaston...</h1>

{% endblock %}


{% block content %}


    {# -- row afficher/masquer l'accès au journal sur le site -- #}

    <div class="row bandeau">
        <div class="col-xs-12 text-center">
            <p>Activation/désactivation des liens vers le journal</p>
        </div>
    </div>
    <div class="row rowAffichageJournal">
        <div class="col-xs-offset-5 col-xs-2">
            <form method="post" action="chezGaston">
                {% if status == 0 %}
                <input class="btn btn-success" type="submit" name="afficheMasque" value="Afficher le journal de Gaston" />
                {% elseif status == 1 %}
                <input class="btn btn-danger" type="submit" name="afficheMasque" value="Masquer le journal de Gaston" />
                {% endif %}
                <input type="hidden" name="method" value="index" />
            </form>
        </div>
    </div>

    <div class="row bandeau">
        <div class="col-xs-12 text-center">
            <p>Ajout d'un article</p>
        </div>
    </div>

    {% do form.prepare() %}

    {# -- Formulaire ajout d'un nouvel article -- #}
    <div class="row FormBlog">

        <div class="col-xs-offset-1 col-xs-10">

            <form name="ajout-blog" method="POST" action="chezGaston" enctype="multipart/form-data">

                <div class="row">

                    <div class="col-xs-4">

                        <div class="form-group">

                            <input class="cache" type="file" accept="image/jpeg" name="imgArticle" id="imgArticle"  />
                            <label for="imgArticle" class="btn btn-default">Nouvelle image</label><br />

                            {% for message in imgErr %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>

                    </div>

                    <div class="col-xs-8">

                        <div class="form-group">
                            <label for="titre">{{ form.get('titre').label }}</label>
                            <input required ="required" class="form-control" value="{{ form.get('titre').value }}" type="text" id="titre" name="titre" />

                            {% for message in titreErr %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label for="date">{{ form.get('date').label }}</label>
                            <input required ="required" class="form-control" value="{{ form.date|date('Y-m-d H:i:s') }}" type="text" id="date" name="date"/>

                            {% for message in dateErr %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label for="contenu">{{ form.get('contenu').label }}</label>
                            <textarea required ="required" class="form-control" id="contenu" name="contenu">{{ form.get('contenu').value }}</textarea>

                            {% for message in contenuErr %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>

                        <input class="btn btn-success" type="submit" name="ajoutArticle" value="Ajouter un article" />
                        <input type="hidden" name="method" value="ajoutArticle" />
                        <input type="hidden" name="csrf" value="{{ form.get('csrf').value }}">
                    </div>

                </div>

            </form>
        </div>

    </div>



    {# -- Liste des articles ------------------------------------ -- #}
    <div class="row padd-top">
        <div class="col-xs-12">

            <table>
                <thead class="listeArticle">
                    <td class="text-center" width="15%">Date de parution</td>
                    <td class="text-center" width="10%">Image</tdwidth>
                    <td width="20%">Titre de l'article</td>
                    <td width="40%">Contenu de l'article</tdwidth>
                    <td width="12%">Modification/Suppression</td>
                </thead>

                {% for article in articles %}

                    <tr>
                        <td class="text-center">{{ article.date|date('d-m-Y H:m') }}</td>
                        <td class="text-center"><img src="../img/imgJ-{{ article.id }}.jpg" height="40" /></td>
                        <td>{{ article.titre }}</td>
                        <td>{{ article.contenu }}</td>
                        <td>
                            <form method="post" action="chezGaston">
                                <input type="hidden" name="method" value="modif" />
                                <input type="hidden" name="id" value="{{ article.id }}" />
                                <input class="btn btn-default" type="submit" name="valide" value="Modifier l'article" />
                            </form>
                            <form method="post" action="chezGaston">
                                <input type="hidden" name="method" value="supprime" />
                                <input type="hidden" name="id" value="{{ article.id }}" />
                                <input class="btn btn-default" type="submit" name="supprime" value="Supprimer l'article" />
                            </form>
                        </td>
                    </tr>

                {% endfor %}

            </table>

        </div>
    </div>

{% endblock %}





