{% extends 'layout.twig' %}


{% block headtitle %}
    <title>Conseils - Admin - Les Jardins de Gaston</title>
{% endblock %}


{% block pagetitle %}
    <h1>Gestion des conseils</h1>
{% endblock %}


{% block content %}

    {# -- Créer un nouveau conseil ---------------------------------- -- #}

    <div class="row">

        <div class="col-xs-12 bandeau text-center">
            Ajouter un conseil
        </div>

    </div>
    <div class="row">

        <div class="col-xs-offset-2 col-xs-8 form">
            <form name="ajout-conseil" method="POST" action="conseil">

                <div class="form-group text-center">
                    <label for="{{ form.get('contenu').name }}">{{ form.get('contenu').label }}</label>
                    <textarea required ="required" class="form-control" id="{{ form.get('contenu').name }}" name="{{ form.get('contenu').name }}"></textarea>

                    {% for message in contenuErr %}
                        <p>{{ message }}</p>
                    {% endfor %}

                </div>

                <div class="form-group text-center">
                    <span class="label-like">Saison(s) associée(s) : </span>
                    &nbsp;&nbsp;
                    <input type="checkbox" name="printemps" id="printemps" value="1" />
                    <label class="normal-text" for="printemps"> Printemps  </label>
                    &nbsp;&nbsp;
                    <input type="checkbox" name="ete" id="ete" value="1" />
                    <label class="normal-text" for="ete"> Eté  </label>
                    &nbsp;&nbsp;
                    <input type="checkbox" name="automne" id="automne" value="1" />
                    <label class="normal-text" for="automne"> Automne  </label>
                    &nbsp;&nbsp;
                    <input type="checkbox" name="hiver" id="hiver" value="1" />
                    <label class="normal-text" for="hiver"> Hiver  </label>
                </div>

                <div class="form-group text-center">
                    <input class="btn btn-success" type="submit" name="ajout" value="Ajouter le conseil" />
                    <input type="hidden" name="method" value="ajoutConseil" />
                    <input type="hidden" name="id" value="{{ value.id }}">
                    <input type="hidden" name="csrf" value="{{ form.get('csrf').value }}">
                </div>
            </form>
        </div>

    </div>


    <div class="row">

        {# -- Liste des  conseils --------------------------------------- -- #}
        <div class="col-xs-12 bandeau text-center">
            Liste des conseils déjà enregistrés
        </div>
        {# -- selecteur d'affichage -- #}
        <div class="col-xs-12 contenu text-center">
            <form action="conseil" method="post">
                <span class="label-like">Sélection de l'affichage :</span>
                &nbsp;&nbsp;
                <input type="checkbox" name="selprintemps" id="selprintemps" {% if affsaison.P == 1 %}checked{% endif %} />
                <label class="normal-text" for="selprintemps">Printemps</label>
                &nbsp;&nbsp;
                <input type="checkbox" name="selete" id="selete" {% if affsaison.E == 1 %}checked{% endif %} />
                <label class="normal-text" for="selete">Ete</label>
                &nbsp;&nbsp;
                <input type="checkbox" name="selautomne" id="selautomne" {% if affsaison.A == 1 %}checked{% endif %} />
                <label class="normal-text" for="selautomne">Automne</label>
                &nbsp;&nbsp;
                <input type="checkbox" name="selhiver" id="selhiver" {% if affsaison.H == 1 %}checked{% endif %} />
                <label class="normal-text" for="selhiver">Hiver</label>
                &nbsp;&nbsp;
                <button class="btn btn-default" type="submit" name="actualiserAffichage">Actualiser la liste</button>
                <input type="hidden" name="method" value="index" />
            </form>
        </div>

        {% for conseil in conseils %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                <div class="thumbnail ">
                    <div class="caption">
                        <form method="post" action="conseil">
                            {#<input class="form-control" type="text" name="conseil" value="{{ conseil.contenu }}" /><br />#}
                            <textarea class="form-control" name="contenu" rows="4">{{ conseil.contenu }}</textarea><br />

                            <input type="checkbox" name="printemps" id="printemps{{ loop.index }}" value="1"
                                    {% if conseil.printemps == 1 %} checked {% endif %} />
                            <label class="normal-text" for="printemps{{ loop.index }}">Printemps</label>

                            <input type="checkbox" name="ete" id="ete{{ loop.index }}" value="1"
                                    {% if conseil.ete == 1 %} checked {% endif %} />
                            <label class="normal-text" for="ete{{ loop.index }}">Eté</label>

                            <input type="checkbox" name="automne" id="automne{{ loop.index }}" value="1"
                                    {% if conseil.automne == 1 %} checked {% endif %} />
                            <label class="normal-text" for="automne{{ loop.index }}">Automne</label>

                            <input type="checkbox" name="hiver" id="hiver{{ loop.index }}" value="1"
                                    {% if conseil.hiver == 1 %} checked {% endif %} />
                            <label class="normal-text" for="hiver{{ loop.index }}">Hiver</label>

                            <br />
                            <input type="hidden" name="id" value="{{ conseil.id }}" />
                            <input type="hidden" name="method" value="updateConseil">
                            <input class="btn btn-default" type="submit" name="updateConseil" value="Enregistrer les modifications" /><br />
                        </form>
                        <form method="post" action="conseil">
                            <input type="hidden" name="method" value="deleteConseil">
                            <input type="hidden" name="id" value="{{ conseil.id }}" />
                            <input class="btn btn-default" type="submit" name="deleteConseil" value="Supprimer le conseil" />
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div> {# -- fermeture de la row principale -- #}


{% endblock %}




