<!DOCTYPEhtml>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Les Jardins de Gaston</title>
    <link rel="icon" type="image/png" href="img/arrosoir2_xsmallvert.png" sizes="32x32" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chicle|Montserrat Alternates" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli|Open+Sans|Open+Sans+Condensed:300|PT+Sans+Narrow|Roboto" rel="stylesheet">
</head>
<body id="top">
<!-----      Navigation   ------->


<!-- navbar-collapse menu burger-->

<header id="top">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbarColor">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#top"><img class="logo" src="img/logo_blanc.png"></a>

            </div>

            <!-- navbar-collapse navigation -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#prestationAnchor">Les prestations</a></li>
                    <li><a href="#conseilAnchor">Le conseil du moment</a></li>
                    <li class="hover"><a class="btn btn-default" href="#formulaireAnchor" role="button">Nous contacter</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>


<div class="container-fluid"> <!-- fermeture en fin de page -->


<!--------    Image header    --------->
    <div class="row">

        <div class="col-lg-12 bg-img1-lg visible-lg img-responsive parallax"></div>
        <div class="col-lg-12 bg-img1-md visible-md visible-sm img-responsive parallax"></div>
        <div class="col-lg-12 bg-img1-xs visible-xs img-responsive parallax"></div>
        <h4 id="accroche">Jardinier par nature ...</h4>
    </div>


<!-------    Section presentation  -------->


<!-------       Titre       -------->


<!-------    Paragraphe presentation  -------->
    <div class="row presentation">
        <div class="col-xs-12 col-lg-offset-2 col-lg-8 text-center">
            <div class="presentation-header">
            <h1>{{ presentationH1.titre }}</h1>
            <p>{{ presentationH1.contenu }}</p>
            </div>
            {% for pres in presentationH3 %}
            <div class="value{{ loop.index }}">
                <h3>{{ pres.titre }}</h3>
                <p>{{ pres.contenu }}</p>
            </div>
            {% endfor %}
        </div>
    </div>


<!-------     Valeur Ecologie  -------->


<!-------      Valeur Client     -------->


<!-------      Image Transition 1     -------->
    <div class="row">
        <div class="col-lg-12 bg-img2-lg img-responsive visible-lg parallax"></div>
        <div class="col-lg-12 bg-img2-md visible-md visible-sm hidden-xs img-responsive parallax"></div>
    </div>


<!-------     Section Best Realisations    -------->

<div class="row real-titre">
    <div class="col-xs-12">
        <h2>Nos réalisations</h2>
    </div>
</div>

<div class="row presta">
    <hr class="separe">
</div>


<div class="row">
    <div class="col-xs-12 realBloc">
        <div id="carousel-real" class="carousel slide fade in realClass" data-ride="carousel" data-interval="false">

            <div class="carousel-inner" role="listbox">

                <div class="item row real active">
                    <div class="col-xs-offset-1 col-xs-10 col-lg-offset-1 col-lg-4">
                        <div class="side-real">
                            <h3>Transformez votre jardin avec quelques idées et un peu d'entretien</h3>
                            <p>Lorem dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>

                    <div class="col-xs-offset-1 col-xs-10 col-lg-5 blocCompare">
                        <div id="comparison1">
                            <figure>
                                <div id="divisor1"></div>
                            </figure>
                            <input type="range" min="0" max="100" value="40" class="realSlide1" id="slider1" oninput="moveDivisor1()">
                        </div>
                        <div class="caption">
                            <i>Cliquez sur le carré vert et faites le glisser de gauche à droite.</i>
                        </div>
                    </div>
                </div>

                <div class="item row real">
                    <div class="col-xs-offset-1 col-xs-10 col-lg-offset-1 col-lg-4">
                        <div class="side-real">
                            <h3>Un peu d'entretien et votre jardin se fait une nouvelle jeunesse</h3>
                            <p>Lorem dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>

                    <div class="col-xs-offset-1 col-xs-10 col-lg-5 blocCompare">
                        <div id="comparison2">
                            <figure>
                                <div id="divisor2"></div>
                            </figure>
                            <input type="range" min="0" max="100" value="40" class="realSlide2" id="slider2" oninput="moveDivisor2()">
                        </div>
                        <div class="caption">
                            <i>Cliquez sur le carré vert et faites le glisser de gauche à droite.</i>
                        </div>
                    </div>
                </div>

                <div class="item row real">
                    <div class="col-xs-offset-1 col-xs-10 col-lg-offset-1 col-lg-4">
                        <div class="side-real">
                            <h3>Le printemps arrive, donncez du peps à votre jardin</h3>
                            <p>Lorem dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>

                    <div class="col-xs-offset-1 col-xs-10 col-lg-5 blocCompare">
                        <div id="comparison3">
                            <figure>
                                <div id="divisor3"></div>
                            </figure>
                            <input type="range" min="0" max="100" value="40" class="realSlide3" id="slider3" oninput="moveDivisor3()">
                        </div>
                        <div class="caption">
                            <i>Cliquez sur le carré vert et faites le glisser de gauche à droite.</i>
                        </div>
                    </div>
                </div>

            </div>

            <a class="left carousel-control" href="#carousel-real" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel-real" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>

    </div>

</div>


<!--    Section Blog    -->

<div class="row Blog">

    <div class="col-xs-offset-1 col-xs-10 col-md-offset-7 col-md-5">
        <div class="BlogThumb">
            <a href="blog.php"><h3>Et pendant ce temps-là chez Gaston...</h3></a>
            <p>Découvrez le blog de Gaston : des photos, des conseils et des astuces pour l'entretien de votre jardin</p>
            <a type="button" class="btn btn-default hover" href="blog.php">J'y vais</a>
        </div>
    </div>

</div>


<!-------      Section Liste Prestations     -------->
<span id="prestationAnchor" class="ancre"></span>
<div class="row presta-titre">

    <div class="col-xs-12">
        <h2>Nos prestations</h2>
    </div>
</div>
<div class="row presta">
    <hr class="separe">
</div>


<!-------        Prestation        -------->

<div class="row">
    {% for presta in prestation %}
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
        <div class="thumbnail blocPresta">
            <img src="img/imgP-{{ loop.index }}.jpg" />
            <div class="etiquette">
                <h3>{{ presta.titre }}</h3>
                <p>{{ presta.contenu }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-------     Section Conseil du moment     -------->
    <span id="conseilAnchor" class="ancre"></span>
    <div class="row Conseilbackground-lg">
        <div class="row Conseil col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
            <div class="col-lg-3 col-lg-offset-1 ConseilTitre">
                <h4>CONSEIL DU MOMENT</h4>
            </div>
            <div>
                <div class="ConseilText col-lg-11 col-lg-offset-1">
                    <p>{{ conseil.contenu }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row Conseilbackground-xs">
        <div class="row Conseil-xs col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
            <div class="col-lg-3 col-lg-offset-1 ConseilTitre-xs">
                <h4>Conseil du moment</h4>
            </div>
            <div class="row">
                <div class="ConseilText-xs col-lg-11 col-lg-offset-1">
                    <p>{{ conseil.contenu }}</p>
                </div>
            </div>
        </div>
    </div>



    <!-------       Section Livre d'or      -------->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 LDOR">
            <div class="row">
                <div class="LivreDor-titre">
                    <h2>Notre livre d'Or</h2>
                </div>
            </div>
            <div class="row">
                <hr class="separe">
            </div>

            <div class="row">
                <div id="carousel-livredor" class="carousel slide fade in" data-ride="carousel" data-interval="false">

                    <div class="carousel-inner" role="listbox">
                        {% for message in livredor %}
                        <div class="item col-xs-8 col-xs-offset-2 {% if loop.index == 1 %}active{% endif %}">
                            <div class="caption">
                                <h3>{{ message.contenu }}</h3>
                                <p>{{ message.auteur }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <a class="left carousel-control" href="#carousel-livredor" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-livredor" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-------     Section Formulaire     -------->
    <div class="row">
    <div class="Contact col-xs-12">
        <!-- <img class=" ImgForm col-lg-6 col-lg-offset-0" src="http://placehold.it/600x500"> -->
        <img class=" ImgForm col-lg-6 col-lg-offset-0" src="img/jardinage.jpg">

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-0 formulaire">

            <span id="formulaireAnchor" class="ancre"></span>

            <h2>CONTACTEZ-NOUS</h2>
            <hr class="separe">
            <p>Tel: 06 00 00 00 00</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            <form name="ajout-citation" method="POST" action="ajout.php">


                <div class="form-group">
                    <label for="Nom">Nom</label>
                    <input required ="required" class="form-control" type="text" id="Nom" name="Nom" />
                </div>

                <div class="form-group">
                    <label for="Prenom">Prenom</label>
                    <input required ="required" class="form-control" type="text" id="Prenom" name="Prenom"/>
                </div>

                <div class="form-group">
                    <label for="Email">Email</label>
                    <input required ="required" class="form-control" type="text" id="Email" name="Email" />
                </div>

                <div class="form-group">
                    <label for="Texte">Texte</label>
                    <textarea required ="required" class="form-control" id="Texte" name="Texte"></textarea>
                </div>

                <input class="btn btn-default hover" type="submit" name="add" value="Envoyer">

            </form>

        </div>

        </div>
    </div>

    <!-------           Footer           -------->
    <div class="row footer">
        <div class="hidden-xs col-sm-2 text-center">
            <div class="row logo-sap">
                <a href="http://www.entreprises.gouv.fr/services-a-la-personne" target="_blanc"><img src="img/Logosap.png" alt="Logo Service à la personne" /></a>
            </div>
        </div>
        <div class="col-xs-12 push-xs-6 col-sm-8 text-center">
            <div class="row logo-gaston-footer">
                <img id="footer-logo-gaston" src="img/logo_blanc.png" alt="logo Les Jardins de Gaston">
            </div>
            <div class="row linkModal">
                <a href="#" data-toggle="modal" data-target="#infolegale">mentions légales</a>
            </div>

            <!-- modale mentions legales -->
            <div class="modal modal-wide fade" id="infolegale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title" id="myModalLabel">Informations légales</h3>
                        </div>
                        <div class="modal-body infolegale">

                            <h4>Editeur</h4>
                            <p>
                                Les Jardins de Gaston - Affaire personnelle commerçant.<br />
                                Siège social : 572 rue verte, 45640 SANDILLON.<br />
                                Siret : 53067183300016.<br />
                                Inscrit au registre de la Chambre de commerce du Loiret.
                            </p>


                            <h4>Responsable de publication</h4>
                            <p>M. Fabrice GUILBON.</p>


                            <h4>Hébergement</h4>
                            <p>Ce site est hébergé chez <a href="https://www.ovh.com/fr/" target="_blanc">OVH</a>.</p>


                            <h4>Protection des données personnelles sur le site</h4>
                            <p>
                                Aucune donnée à caractère personnel n'est stockée sur ce site, qui respecte les règles suivantes :<br />
                                - 1. Pas d’information collectée à l’insu de l’internaute,<br />
                                - 2. Pas de cession à des tiers.
                                Les informations renseignées par les internautes dans le formulaire de contact ne sont utilisées que pour le
                                traitement des messages laissés par ces derniers.
                            </p>


                            <h4>Droit d'auteur - Copyright</h4>
                            <p>
                                L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété
                                intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les
                                représentations iconographiques et photographiques.<br />
                                La reproduction de tout ou partie de ce site sur un support quelconque, matériel ou immatériel, quel qu'il soit est
                                formellement interdite sauf autorisation expresse du responsable de publication.
                            </p>

                            <h4>Polices de caractères - Copyright</h4>
                            <p>
                                Police de caractères 'Montserrat Alternates' - Designer : Steve Matteson - Open Font License.
                                <br/>
                                Police de caractères 'Open Sans' - Designer : Julieta Ulanovsky - Apache License Version 2.0.
                            </p>

                            <h4>Fonctionnement</h4>
                            <p>
                                Pour toute remarque ou suggestion sur le fonctionnement du site, veuillez adresser un message via le <a>formulaire de contact.</a>
                            </p>

                            <h4>Conception et réalisation</h4>
                            <a href="https://wildcodeschool.fr/orleans/" target="_blanc">
                                <img class="legal-logo-wcs" src="img/logo-wcs-ho.png" alt="logo Wild Code School" />
                            </a>
                            <span>
                                Isabelle MULIGO, Jérémie DAVIAUD, Sylvain JAN, Patrick FAUCHEUX
                            </span>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modale infos legales -->

        </div>
        <div class="col-xs-6 hidden-sm hidden-md hidden-lg text-center">
            <div class="row logo-sap">
                <a href="http://www.entreprises.gouv.fr/services-a-la-personne" target="_blanc"><img src="img/Logosap.png" alt="Logo Service à la personne" /></a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2 text-center logoWCS">
            <div class="row">
                <a href="http://wildcodeschool.fr/orleans" target="_blanc">Design par</a>
            </div>
            <div class="row">
                <img src="img/logo-wcs-vo-alter-small.png" alt="logo Wild Code School" />
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</body>

</html>