<!DOCTYPEhtml>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>Et pendant ce temps-là chez Gaston</title>

    <link rel="icon" type="image" href="img/herbes_picto_xtraSmallvert.png" sizes="32x32" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/blog_stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chicle|Montserrat Alternates" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Lato|Raleway" rel="stylesheet">
</head>



<body>
<!-----      Navigation   ------->


<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><span class="icone-nav showopacity glyphicon glyphicon-home"></span></li>
                <a href="#"><img class="logo-xs" src="img/logo_blanc.png"></a>
                <hr class="separe">
                <li><a href="index.php">Revenir au site</a></li>
            </ul>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <a href="#"><img class="logo-lg" src="img/logo_blanc.png"></a>
                <hr class="separe">
                <li><a href="index.php">Revenir au site</a></li>
            </ul>
        </div>
    </div>
</nav>


<!---    Timeline   --->
<main>

    <div class="container">

        <div class="page-header">
            <h1>Et pendant ce temps-là chez Gaston...</h1>
        </div>

        <ul class="timeline">

            {% set dateref = date('+1month')|date('Y m') %}

            {% for article in articles %}

                {% if dateref > article.date|date('Y m') %}

                {% set dateref = article.date|date('Y m') %}

                <li><div class="tldate"><h3>{{ article.date|date('F Y') }}</h3></div></li>

                {% endif %}

                {% if article.id is odd %}

                <li>
                    <div class="tl-circ"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h2>{{ article.titre }}</h2>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ article.date|date('j F Y') }}</small></p>
                        </div>
                        <div class="tl-body">
                            <p>{{ article.contenu }}.</p>
                            <p><img src="img/imgJ-{{ article.id }}.jpg?{{ random(9999) }}" alt="Image journal {{ article.titre }}" class="imgPost img-responsive"/></p>
                        </div>
                    </div>
                </li>

                {% elseif article.id is even %}

                <li class="timeline-inverted">
                    <div class="tl-circ"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h2>{{ article.titre }}</h2>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ article.date|date('j F Y') }}</small></p>
                        </div>
                        <div class="tl-body">
                            <p>{{ article.contenu }}</p>
                            <p><img src="img/imgJ-{{ article.id }}.jpg?{{ random(9999) }}" alt="Image journal {{ article.titre }}" class="imgPost img-responsive"/></p>
                        </div>
                    </div>
                </li>

                {% endif %}

            {% endfor %}

        </ul>

        <a href="#">
            <div class="returnBtn" >
                <i class="glyphicon glyphicon-chevron-up"></i>
                <p>Retour<br/>en haut</p>
            </div>
        </a>


    </div>

</main>


<script type="text/javascript" src="../../../web/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../../../web/js/bootstrap.js"></script>
<script type="text/javascript" src="../../../web/js/script.js"></script>

</body>

</html>