{# --- src/view/admin/Prestation.twig --- #}

{% extends '../layout.twig' %}


{% block headtitle %}
    <title>Prestations - Admin - Les Jardins de Gaston</title>
{% endblock %}


{% block pagetitle %}
    <h1>Gestion des prestations</h1>
    <p>
        <form method="post" action="index.php?p=prestation">
            <input type="hidden" name="method" value="ajout" />
            <input class="btn btn-default" type="submit" name="ajoute" value="Ajouter une prestation" />
        </form>
    </p>

{% endblock %}


{% block content %}

    <div class="row">

        {# -- Liste des  prestations ------------------------------------ -- #}
        {% for prestation in prestations %}
            {# --- Titre prestation --- #}
            <div class="col-xs-12 bandeau text-center">
                Prestation : {{ prestation.titre }}
            </div>
            {# --- contenu de la prestation --- #}
            <div class="col-xs-12">
                <div class="row contenu">
                    <div class="col-xs-12 col-md-4 col-lg-3 col-lg-offset-2 text-center">
                        <img class="img-fluid pimg bloc-right" src="../img/imgP-{{ prestation.id }}.jpg?{{ random(9999) }}" alt="Image prestation {{ prestation.titre }}" />
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-5">
                        <p class="label-like">Titre de la prestation</p>
                        <p class="input-like form-control">{{ prestation.titre }}</p>
                        <p class="label-like">Détails de la prestation</p>
                        <p class="textarea-like form-control">{{ prestation.contenu | nl2br }}</p>
                        <p>
                            <form method="post" action="index.php?p=prestation">
                                <input type="hidden" name="method" value="modif">
                                <input type="hidden" name="id" value="{{ prestation.id }}">
                                <input class="btn btn-default" type="submit" name="valide" value="Modifier la prestation" />
                                &nbsp;&nbsp;
                                <input class="btn btn-default" type="submit" name="supprime" value="Supprimer la prestations" />
                            </form>
                        </p>
                        <form action="index.php?p=prestation" method="post">
                            <p>
                                Ordre d'affichage &nbsp;&nbsp;
                                <button class="btn btn-default btn-xs{% if loop.index == 1 %}{{ ' cache' }}{% endif %}" type="submit" name="up">Monter</button>
                                &nbsp;&nbsp;&nbsp;
                                <button class="btn btn-default btn-xs{% if loop.index == prestations | length %}{{ ' cache' }}{% endif %}" type="submit" name="dn">Descendre</button>
                                <input type="hidden" name="method" value="updown">
                                <input type="hidden" name="id" value="{{ prestation.id }}">
                                <input type="hidden" name="ordreaff" value="{{ prestation.ordreaff }}">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

        {# -- Créer une nouvelle prestation ----------------------------- -- #}

        {#<div class="col-xs-12 bandeau text-center">#}
            {#Ajouter une prestation#}
        {#</div>#}
        {#<div class="col-xs-12">#}
            {#<div class="row contenu">#}
                {#<div class="col-xs-12 col-md-4 col-lg-3 col-lg-offset-2 text-center">#}
                    {#<img class="img-fluid pimg bloc-right" src="{{ tmpinfos.tmpimage }}?{{ random(9999) }}" alt="" />#}
                    {#<br />#}
                    {#<form id="loadimg" method="post" action="index.php?p=prestation" enctype="multipart/form-data">#}
                        {#<input type="hidden" name="MAX_FILE_SIZE" value="20000000" />#}
                        {#<input type="hidden" name="method" value="imgupload" />#}
                        {#<input class="cache" type="file" accept=".jpg" name="fichier" id="fichier" onchange="submit();" />#}
                        {#<label for="fichier" class="btn btn-default">Nouvelle image</label><br />#}
                    {#</form>#}
                {#</div>#}
                {#<div class="col-xs-12 col-md-8 col-lg-5">#}
                    {#<p class="erreur">{%  if erreur=='' %}&nbsp;{% else %}ERREUR : {{ erreur }}{% endif %}</p>#}
                    {#<form method="post" action="index.php?p=prestation">#}
                        {#<input type="hidden" name="method" value="pluspresta" />#}
                        {#<label for="titre">Titre de la prestation </label><br />#}
                        {#<input class="form-control" type="text" name="titre" id="titre" value="{{ tmpinfos.titre }}" /><br />#}
                        {#<label for="detail">Détails de la prestation</label><br />#}
                        {#<textarea class="form-control" row="3" name="detail">{{ tmpinfos.contenu }}</textarea><br />#}
                        {#<input class="btn btn-default" type="submit" name="valide" value="Ajouter la prestation" />#}
                        {#&nbsp;&nbsp;&nbsp;&nbsp;#}
                        {#<input class="btn btn-default" type="submit" name="annule" value="Annuler l'opération" />#}
                    {#</form>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        {#<script>function submit() {document.getElementById('loadimg').submit;}</script>#}

    </div> {# -- fermeture de la row principale -- #}

{% endblock %}




