{% extends 'layout.twig' %}


{% block headtitle %}
    <title>Livre d'Or - Admin - Les Jardins de Gaston</title>
{% endblock %}


{% block pagetitle %}
    <h1>Gestion du livre d'or</h1>
{% endblock %}


{% block content %}
    {% do form.prepare() %}
    {#{{ dump () }}#}

    <div class="row">

        {# -- Bloc 2 images avec titre et contenu ----------------------- -- #}

        {# --- barre de titre --- #}
        <div class="col-xs-12 bandeau text-center">
            Réalisation {{ realisation.id }}
        </div>
        {# --- bloc infos --- #}
        <div class="col-xs-12">
            <div class="row contenu">

                <div class="col-sm-12 col-md-4 ">
                    <div class="hidden-xs hidden-sm"><br /></div>
                    <form method="post" action="livredor">
                        <input type="hidden" name="method" value="addLdor" />
                        <label for="titre">Nom </label><br />
                        <input required ="required" class="form-control" value="{{ value.auteur }}" type="text" id="{{ form.get('NomLDor').name }}" name="{{ form.get('NomLDor').name }}" /><br />
                        <label for="detail">Texte</label><br />
                        <textarea required ="required" class="form-control" id="{{ form.get('TexteLDor').name }}" name="{{ form.get('TexteLDor').name }}">{{ value.contenu }}</textarea><br />
                        <input type="hidden" name="id" value="{{ value.id }}">
                        <input class="btn btn-default" type="submit" name="valide" value="Enregistrer les modifications" />
                        <input class="btn btn-default" type="submit" name="abandon" value="Abandonner la modification" />
                    </form>
                </div>
            </div>
        </div>



    </div> {# -- fermeture de la row principale -- #}

{% endblock %}








